<div class="form-new mt-5">
  <h1>Add a recipe to <%= @category.name %></h1>

  <%= simple_form_for [@category, @bookmark] do |f| %>
    <%= f.input :comment, placeholder: "Your comment" %>
    <%= f.association :recipe %>
    <%= f.submit "Add Recipe", class: "btn btn-info" %>
  <% end %>

<%= link_to "Back to #{@category.name}", category_path(@category), class: "btn mt-3" %>
</div>
