<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1551024506-0bccd828d307?q=80&w=3200&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="container">
    <h1><%= @category.name %></h1>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-between mt-4">
    <h3>Recipes</h3>
    <%= link_to "Add a recipe", new_category_bookmark_path(@category), class: "btn btn-warning" %>
  </div>

<div class="cards-container">
  <% @category.bookmarks.each do |bookmark| %>

    <div class="card-trip">
        <img src="<%= bookmark.recipe.image_url %>" />
      <div class="card-trip-infos">
        <div>
          <h2><%= bookmark.recipe.name %></h2>
          <p><%= bookmark.recipe.description.truncate(50) %></p>
        </div>
        <div class="rating-comment">
          <h2> " <%= bookmark.comment %></h2>
          <h2 class="card-trip-pricing"><%= bookmark.recipe.rating %> <%= 'â­' * bookmark.recipe.rating.floor %></h2>
        </div>
      </div>
      <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn-delete" do %>
        <i class="fa fa-trash btn-delete" aria-hidden="true"></i>
      <% end %>
    </div>

  <% end %>
</div>
